body {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #C9D1C8;
  font-family: 'Geneva', 'Verdana', sans-serif;
}


#header-nav {
  background-color: #D0C8D1;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Geneva', 'Verdana', sans-serif;
  color: #FFFFFF;
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: .75;
  text-align: left;
  padding: 15px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.page-name h2 {
  margin: 25px auto 15px;
  font-size: 2.5em;
  color: #505350;
  text-align: center;
  font-weight: bold;
}

.icon-bar {
  width: 30px;
  color: black;
}

#item-name {
  font-size: 1.8em; 
  text-align: center;
  color: #535053;
  margin-top: 35px;
  margin-bottom: 0;
  background-color: white;
  padding: 10px;
}

#item-desc {
  text-align: left;
  font-size: 1em;
  background-color: white;
  color: #535053;
  padding: 0 15px 10px 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

@media (min-width: 768px) {
  .navbar-toggler {
  display: none;
}

@media (max-width: 767px) {
#collapsable-nav a {
    font-size: 1.2em;
  }
#collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }
 } 